# MLflow / artifacts
MLFLOW_TRACKING_URI=sqlite:////opt/mlflow/mlflow.db
MLFLOW_ARTIFACT_ROOT=/opt/mlflow/mlruns

# Prediction API
MODEL_PATH=/opt/models/champion/model.joblib
LABEL_ENCODERS_PATH=/opt/models/champion/label_encoders.joblib
